@using Microsoft.AspNetCore.Components.Authorization

<div class="border-bottom mb-3 bg-white p-3 shadow">
    <div class="p3 d-flex justify-content-center">
        <img src="images/Kaaiman-reizen-logo.webp" class="navbar-brand img-fluid" style="max-height: 50px;" alt="Logo Kaaiman-reizen" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <AuthorizeView Roles="Planner">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="travelleaders">
                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Reisleiders
                </NavLink>
            </div>
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="journeys">
                    <span class="bi bi-airplane-fill-nav-menu" aria-hidden="true"></span> Reizen
                </NavLink>
            </div>
        </AuthorizeView>
       
        <hr class="text-white-50 mx-3" />

        <AuthorizeView>
            <Authorized>              
                <div class="nav-item px-3">
                    <form action="Identity/Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="" />
                        <button type="submit" class="nav-link btn btn-link w-100 border-0 text-start shadow-none">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Uitloggen
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Inloggen
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="travelleaders">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Reisleiders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="planner">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Planner
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 pb-2 text-center">
                    <small class="text-muted d-block text-truncate">
                        <i class="bi bi-person-circle text-success me-1"></i> @context.User.Identity?.Name
                    </small>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>