@page "/journeys/edit/{Id:int}"
@rendermode InteractiveServer
@using Kaaiman_reizen.Data.Entities
@using Kaaiman_reizen.Data.Enums
@using Kaaiman_reizen.Data.Services
@inject IJourneyService JourneyService
@inject ITravelLeaderService LeaderService
@inject NavigationManager Navigation

<PageTitle>Bewerk reis</PageTitle>

<h1 class="h4">Bewerk reis</h1>

<div class="card">
    <div class="card-body">
        @if (_loading)
        {
            <div>Bezig met laden…</div>
        }
        else if (_notFound)
        {
            <div class="text-muted">Reis niet gevonden.</div>
        }
        else
        {
            <EditForm Model="_model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label class="form-label">Land</label>
                    <InputText class="form-control" @bind-Value="_model.Country" />
                    <ValidationMessage For="() => _model.Country" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Start datum</label>
                    <InputDate class="form-control" @bind-Value="_model.Start" />
                    <ValidationMessage For="() => _model.Start" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Eind Datum</label>
                    <InputDate class="form-control" @bind-Value="_model.End" />
                    <ValidationMessage For="() => _model.End" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Aantal busjes</label>
                    <InputNumber class="form-control" @bind-Value="_model.Busses" />
                    <ValidationMessage For="() => _model.Busses" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Aantal reizigers</label>
                    <InputNumber class="form-control" @bind-Value="_model.Travelers" />
                    <ValidationMessage For="() => _model.Travelers" />
                </div>

                <h5>Reisleiders</h5>
                <p>Gebruik CTRL en SHIFT om meerdere reisleiders te selecteren</p>
                <select multiple class="form-control mb-3" @onchange="OnLeadersChanged">
                    @foreach (var leader in _leaders)
                    {
                        <option value="@leader.Id"
                                selected="@_selectedLeaderIds.Contains(leader.Id)">
                            @leader.Name
                        </option>
                    }
                </select>

                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                    <span class="ms-2">
                        <Button TItem="object" Type="ButtonType.Secondary" OnClickNoArg="EventCallback.Factory.Create(this, Cancel)">Annuleren</Button>
                    </span>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Journey _model = new();
    private bool _loading = true;
    private bool _notFound = false;
    private List<TravelLeader> _leaders = new();
    private List<int> _selectedLeaderIds = new();

    private void OnLeadersChanged(ChangeEventArgs e)
    {
        var selectedValues = e.Value as String[];

        if (selectedValues is not null)
            _selectedLeaderIds = selectedValues
                .Select(int.Parse)
                .ToList();
    }

    protected override async Task OnParametersSetAsync()
    {
        _loading = true;
        _notFound = false;

        var item = await JourneyService.GetJourneyByIdAsync(Id);
        if (item == null)
        {
            _notFound = true;
            _loading = false;
            return;
        }

        _model = item;

        // populate selected leader Ids
        _selectedLeaderIds = _model.TravelLeaders
            .Select(t => t.Id)
            .ToList();

        _loading = false;
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/journeys");
    }

    private async Task HandleValidSubmit()
    {
        await JourneyService.UpdateJourneyAsync(_model, _selectedLeaderIds);
        Navigation.NavigateTo("/journeys");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var items = await LeaderService.GetTravelLeadersAsync();
            _leaders = items.ToList();
        }
        catch
        {
            _leaders = new List<TravelLeader>();
        }
    }
}
