.table thead th {
  background-color: #f3f4f6;
  color: #111827; 
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

.table tbody td {
  padding: 0.6rem 1rem;
}

.card {
  border: none;
}

.custom-pagination .page-link {
    color: #000000;
}

    .custom-pagination .page-link:hover {
        background-color: #00C08A;
        border-color: #00C08A;
        color: white;
    }

.custom-pagination .page-item.active .page-link {
    background-color: #00C08A;
    border-color: #00C08A;
    color: white;
}

.custom-pagination .page-item.disabled .page-link {
    color: #6c757d;
}

.custom-select:focus {
    border-color: #00C08A;
    box-shadow: 0 0 0 0.25rem rgba(0, 192, 138, 0.25);
}